doctype html
html
	head
		meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
	script(src="/index.js")
	link(rel="stylesheet" href="/main.css")
	body
		.app(style="background: url('images/bg.jpg') no-repeat center center; background-size: cover")
			img.header(src="/images/header.jpg")
			.cta Take photos of each of the provided images to test logo detection functionality
			.take-photo
				.title take photo

		
			input(type='file' accept='image/*' placeholder="take-photo")


			.video1.vid
				video
					source(type="video/mp4" src="/video1.mp4")
				.close close
			.video2.vid
				video
					source(type="video/mp4" src="/video2.mp4")
				.close close