doctype html
html
	head
		meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
	script(src="/index.js")
	link(rel="stylesheet" href="/main.css")
	body
		.app(style="background: url('images/bg.jpg') no-repeat center center; background-size: cover")
			img.header(src="/images/header.jpg")
			.cta Take photos of each of the provided images to test logo detection functionality
			.take-photo
				.title take photo

		
			input(type='file' accept='image/*' placeholder="take-photo")


			.video1.vid
				video(width="100%" height="100%")
					source( src="/video1.mp4" type="video/mp4" )
				.close close
			.video2.vid
				video
					source( src="/video2.mp4" type="video/mp4")
				.close close

		.loading
			svg.uil-default(width='56px', height='56px', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='xMidYMid')
				rect.bk(x='0', y='0', width='100', height='100', fill='none')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(0 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(30 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.08333333333333333s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(60 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.16666666666666666s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(90 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.25s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(120 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.3333333333333333s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(150 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.4166666666666667s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(180 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.5s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(210 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.5833333333333334s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(240 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.6666666666666666s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(270 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.75s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(300 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.8333333333333334s', repeatcount='indefinite')
				rect(x='46.5', y='40', width='7', height='20', rx='5', ry='5', fill='#ffffff', transform='rotate(330 50 50) translate(0 -30)')
					animate(attributename='opacity', from='1', to='0', dur='1s', begin='0.9166666666666666s', repeatcount='indefinite')
