html
	head
	script(src="/index.js")
	body
		.app
			.take-photo
				input(type='file' accept='image/*')
			div(style="margin-top: 100px") -download these images then upload them with the above input
			img(class="test1" src="images/att.png" width="400" style="display:block; margin: 30px; border: thin solid black")
			img(class="test2" src="images/tmobile.png" width="400" style="display:block; margin: 30px; border: thin solid black")

